<!DOCTYPE html>
<html>
<head>
	<title>WTF | Post</title>
	 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css">
	  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<div class="content">
	<div class="container">
		<form class="ui form" method="" action="">
		  <div class="field">
		    <label>Title</label>
		    <input type="text" name="" placeholder="Title">
		  </div>
		  <div class="field">
		    <label>Author</label>
		    <input type="text" name="" placeholder="Last Name">
		  </div>
		  <div class="field">
		    <div class="ui checkbox">
		      <input type="checkbox" tabindex="0" class="hidden">
		    </div>
		  </div>
		  <div class="field">
		    <label>Text</label>
		    <textarea name=""></textarea>
		  </div>
		  <button class="ui primary button">Submit</button>
		</form>
	</div>
	</div>
</body>
</html>